<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Consultoria em Segurança da Informação </title>
    <style>
        .padrao {
            color: green;
        }

        .npadrao {
            color: red;
        }
    </style>
</head>

<body>
    <header>
        <%- include('/home/node/app/views/cabecalho.ejs') %>
    </header>

    <section>
        <form method="post" action="/consultorias" id="formulario">
            <br><br>
            <h2>Serviço de Consultória em Segurança Cibiernética</h2><br>
            <label for="nome">Nome do Servico</label><br>
            <input type="text" id="nome" name="nome"><br>
            <label for="texto">Descrição da Consultoria</label><br>
            <textarea id="texto" name="texto" rows="4" cols="50"></textarea><br><br>
            <button type="submit" class="button button2">Enviar</button>
        </form>
    </section>
    <button>Listar</button>
    <button><a href="admins">Cadastro de Serviços Ofertados</a></button>
    <section id="descricao_seginfo">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome do Serviço</th>
                    <th>Descrição da Consultoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="consultorias">
                <% consultorias.forEach(function(consultoria) { %>
                    <tr>
                        <td><%= consultoria.id %></td>
                        <td><%= consultoria.nome %></td>
                        <td><%= consultoria.texto %></td>
                        <td>Ações</td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </section>

    <Footer class="texto3">
        Desenvolvido Por <a href="autor">George Paulo</a>
    </Footer>

</body>

</html>